#startButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;

  background: rgb(255, 255, 255);
  color: black;
  border: 3px solid black;
  border-radius: 12px;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;

  animation: pulsieren 1s ease-in-out infinite;
}

.zone {
  z-index: 1;
}

@keyframes pulsieren {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

body {
  background-image: url("Hintergrundbild.png");
  background-position: -400px 0px;
  background-size: 100%;
  margin: 0;
  text-align: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

canvas,
#canvas {
  background-image: url("Coverbild.png");
  background-size: 100%;
  display: block;
  margin: 0 auto;
  border: 3px solid #444;
  touch-action: none;
}

h1 {
  color: rgb(83, 255, 86);
  background-color: rgb(0, 128, 6);
  padding: 20px 200px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  margin-top: 20px;
  display: inline-block;
}

#gameWrapper {
  position: relative;
  width: 800px;
  height: 400px;
  display: inline-block;
  overflow: visible;
}

#startScreen {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.244);
  z-index: 999;
}

/* TOUCH CONTROLS */
#touchControls {
  margin-top: -120px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  z-index: 5000;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#moveButtons {
  display: flex;
  gap: 10px;
}

#leftBtn,
#rightBtn {
  background-color: rgba(255, 255, 255, 0.25);

  width: 100px;
  height: 100px;

  font-size: 28px;
  font-weight: bold;

  border-radius: 50%;

  appearance: none;
  -webkit-appearance: none;

  touch-action: manipulation;

  position: relative;
  z-index: 5001;
}

#jumpBtn {
  background-color: rgba(255, 255, 255, 0.25);

  width: 100px;
  height: 100px;

  font-size: 28px;
  font-weight: bold;

  border-radius: 50%;

  margin-left: 460px;

  appearance: none;
  -webkit-appearance: none;

  touch-action: manipulation;

  position: relative;
  z-index: 5001;
}

/* iPhone / iPad */
@supports (-webkit-touch-callout: none) {
  #touchControls {
    margin-top: -120px;
    position: relative;
    z-index: 9999;
  }

  #leftBtn,
  #rightBtn,
  #jumpBtn {
    min-width: 100px;
    min-height: 100px;
  }
}
#touchControls {
  margin-top: -120px;

  position: relative;
  z-index: 5000;
}

#moveButtons {
  position: relative;
  z-index: 5001;
}

#leftBtn,
#rightBtn,
#jumpBtn {
  position: relative;
  z-index: 5002;
}
#rotateSign {
  display: none;

  width: 800px;
  height: 800px;

  margin: 300px auto 0 auto;

  border-radius: 50%;

  background: radial-gradient(circle, #d8b07a 0%, #b07a3e 100%);
  border: 8px solid #5a3512;

  box-sizing: border-box;

  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 4px black;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 100px;
}

