canvas {
  background: #87CEEB; /* nur der Canvas-Hintergrund */
  display: block;
  margin: 0 auto;
  border: 3px solid #444;
}
body {
  background-color: black; /* Hintergrund schwarz */
  margin: 0;               /* keine Standard-Ränder */
  text-align: center;      /* alles horizontal zentrieren */
}

h1 {
  color: green;            /* Textfarbe grün */
  background-color: white; /* weißer Hintergrund */
  padding: 20px 200px;      /* Abstand innerhalb der Box */
  font-family: Arial, sans-serif;
  font-size: 3em;          /* Titelgröße */
  margin-top: 20px;        /* Abstand vom oberen Rand */
  display: inline-block;   /* damit border nur um den Text ist */
  
}